body {
  padding-top: 40px;
  padding-bottom: 40px;
  background-color: #eee;
}

.form-signin{
  display: table;
  margin: 150px auto;
}

.input{
  font-size: 30px;
  margin: 5px;
  border: 3px solid #2a6496;
  border-radius: 5px;
  font-family: "Droid Sans Mono", monospace;
}

.submit{
  font-size: 30px;
  padding: 0px;
  width: 200px;
  margin: 5px 87px;
  border: 3px solid #b92c28;
  border-radius: 5px;
  font-family: "Droid Sans Mono", monospace;
}

.submit:hover{
  background-color: #ec5f5b;
}