header {
  display: block;
  position: absolute;
  text-align: center;
  font-size: 90px;
  font-family: Georgia, monospace;
  color: #eeeeee;
  background-color: #2a6496;
  padding: 10px;
  width: 100%;
}

.main-menu{
  display: table;
  margin: 190px auto;
  border-collapse: collapse;
  text-align: center;
  color: #eeeeee;
  background-color: #2a6496;
  font-size: 30px;
  font-family: "Droid Sans Mono", monospace;
  border: 3px solid #084274;
}

.menu-item:hover{
  background-color: #084274;
  cursor: pointer;
}

a{
  all: unset;
}