body {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 14px;
    margin: 0;
    padding-top: 100px;
}

header {
    margin-top: -100px;
    display: block;
    position: absolute;
    text-align: center;
    color: #eeeeee;
    font-size: 20px;
    font-family: "Droid Sans Mono", monospace;
    background-color: #2a6496;
    padding: 10px;
    width: 100%;
}
header h1{
    all: unset;
    display: block;
    text-align: center;
    font-family: Georgia, monospace;
    font-size: 50px;
}
.main-menu{
    margin: 0;
    margin-top: 5px;
    text-align: center;
}

p {
    font-size: 20px;
    font-family: "Droid Sans Mono", monospace;
}

.logo{
    margin: 30px;
    margin-right: 200px;
    float: right;
    width: 600px;
}

.logo-small{
    display: inline-block;
    height: 50px;
}

.main-menu li {
    display: inline-block;
    width: 18%;
    margin: 0;
}

.main-menu li:hover {
    cursor: pointer;
    font-style: normal;
    color: #b92c28;
    background-color: #053a5a;
}

.buy-button {
    padding: 3px;
    margin: 5px;
    width: 75px;
    display: inline-block;
}

a:hover{
    cursor: pointer;
    font-style: normal;
    color: #b92c28;
}

.but{
    padding: 3px;
    font-size: 16px;
    border-radius: 5px;
    border: 3px solid #285e8e;
    background-color: #245269;
    color: #eeeeee;
    text-align: center;
}

.but:hover {
    border: 3px solid #b92c28;
    cursor: pointer;
}

.delivered-button {
    padding: 3px;
    margin: 5px;
    width: 100px;
    display: inline-block;
    float: right;
}

.table{
    color: black;
    display: table;
    margin: 10px auto;
}

.row{
    border: 3px solid #285e8e;
    margin: 3px 0;
    padding: auto;
    display: block;
    font-size: 16px;
    border-radius: 5px;
//height: 40px;
}

.head-row{
    color: #eee;
    background-color: #285e8e;
    border-radius: 5px;
    height: 40px;
}

.row:hover{
    border: 3px solid #b92c28;
    cursor: pointer;
}

.cell{
    display: inline-block;
    vertical-align: middle;
    padding: 10px;
    width: 120px;
    text-align: center;
}

.search-input{
    width: 25%;
    margin-left: 71%;
    margin-top: 10px;
    height: 25px;
    position: absolute;
    color: #eee;
    margin-right: 0px;
    background-color: #3071a9;
    border-radius: 3px;
}

.search-input input[type="text"]{
    border: 3px solid #053a5a;
    border-radius: 5px;
    height: 100%;
    width: 100%;
    font-size: 80%;
}

a{
    all: unset;
}