.info-table{
    margin: auto;
    margin-left: 10px;
    border-collapse: collapse;
    border: 3px solid #285e8e;
    font-size: 20px;
    font-family: "Droid Sans Mono", monospace;
    width: 600px;
}

.info-table td{
    border: 3px solid #285e8e;
}