<#--<#ftl encoding="windows-1251"/>-->
<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>Create User Page</title>
    <link rel="stylesheet" type="text/css" href="/style/form.css">
</head>
<body>
<form name = "product" action = "/addProduct" method="post" class="form-signin" enctype="multipart/form-data">
    <input title="Name" type="text" name="name" placeholder="NAME" class="input">
    <br>
    <input title="Price" type="text" name="price" placeholder="PRICE" class="input">
    <br>
    <input title="Subscription" type="text" name="subscription" placeholder="DESCRIPTION" class="input">
    <br>
    <p>LOGO: </p>
    <input type="file" name="file" accept="image/*">
    <br>
    <input type="submit" value="OK" class="submit">
</form>
</body>
</html>