<#--<#ftl encoding="windows-1251"/>-->
<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>BARAQUAL</title>
    <!-- Bootstrap core CSS -->
    <link rel="stylesheet" type="text/css" href="/style/indexPage.css">
</head>
<body style="margin: 0px">
    <header>BARAQUAL</header>
    <div style="padding: 10px"></div>
    <div class="main-menu">
        <a href="/login"><div class="menu-item">SIGN IN</div></a>
        <a href="/addUser"><div class="menu-item">SIGN UP</div></a>
        <a href="/shops"><div class="menu-item">OUR PARTNERS SHOPS</div></a>
        <a href="/products"><div class="menu-item">OUR PRODUCTS</div></a>
    </div>
    <#--<img src="/img/background.jpg" alt="example">-->
</body>
</html>